.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    user-select: none;
}

.logo {
    color: black;
    font-weight: bold;
}

.user_info {
    height: 15px;
}

.avatar {
    margin-top: 10px;
}

