.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    user-select: none;
}

.logo {
    color: black;
    font-weight: bold;
    margin-left: 40px;
}

.date {
    height: 15px;
}

.user_info {
    height: 15px;
}

.avatar {
    margin-top: 10px;
}